<template>
<AddDealComponent/>
</template>

<script>
import AddDealComponent from "../components/AddDealComponent";
export default {
  name: "AddDeal",
  components: {AddDealComponent}
}
</script>

<style scoped>

</style>
