<template>
  <div class="detail deal">
    <DetailComponent/>
  </div>
</template>

<script>
import DetailComponent from '../components/DetailComponent.vue'

export default {
  name: "DetailView",
  components: {DetailComponent}
}
</script>

<style scoped>

</style>

