<template>
  <div id="app">
    <div id="deals">
      <div id="dealsItemContainer" v-for="deal in deals">
        <router-link :to="`/deal/${deal.id}`" custom v-slot="{ navigate }">
          <div  class="card mb-3" style="max-width: 60%; margin:auto;" >
            <div class="row no-gutters">
              <div class="col-md-2">
                <img :src="deal.imgUrl" class="card-img" style='height:100%; width: 100%;'>
              </div>
              <div @click="navigate" class="col-md-7" >
                <div class="card-body">
                  <h5 class="card-title"> {{ deal.temperature }} °</h5>
                  <p class="card-text"> {{ deal.newPrice }} € / <span style='text-decoration:line-through; color: grey'> {{ deal.oldPrice }} €</span></p>
                  <p class="card-text"> {{ deal.titre }} </p>
                  <p class="card-text"> {{ deal.auteur }} | {{ deal.shopName }} </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card-body">
                  <p class="card-text"> {{ deal.date }} </p>
                  <p class="card-text">
                    <md-button  class="md-primary" :href="deal.shopLink" target="_blank" >Voir le deal <md-icon style="color: white">local_offer</md-icon></md-button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>

</template>

<script>
import axios from 'axios';
export default {
  name: "Home",
  data(){
    return {
      deals : null
    }

  },
  methods:{
    getDeals(){
      axios
        .get('http://localhost:8080/public/deals')
        .then(response => (this.deals = response.data))
    }
  },

  mounted () {
    this.getDeals();
  }
}
</script>

<style scoped>
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.card-list .card{
  width:100%;
}

.md-primary{
  text-decoration: none;
  background-color: black;
  color: white !important;

}
.md-primary:hover{
  background-color: grey;
}

.card{
  border-radius: 10px !important;
  border : 2px solid grey !important;
  background-color: lightgrey !important;
  cursor: pointer !important;

}


</style>


