<template>
  <div class="addItem">
    <div class="card-item" style="width: 60%;">
      <form novalidate class="md-layout" @submit.prevent="validateItem">
        <md-card class="md-layout-item md-size-100 md-small-size-100">
          <md-card-header>
            <div class="md-title">Nouveau Deal</div>
          </md-card-header>

          <md-card-content>
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('title')">
                  <md-icon>badge</md-icon>
                  <label >Titre</label>
                  <md-input name="item-name" id="item-name" autocomplete="given-name" v-model="form.title" :disabled="sending" md-counter="150" />
                  <span class="md-error" v-if="!$v.form.title.required">The title is required</span>
                  <span class="md-error" v-else-if="!$v.form.title.maxLength">Too long</span>
                </md-field>
                <md-field :class="getValidationClass('description')">
                  <md-icon>badge</md-icon>
                  <label >Description</label>
                  <md-input name="item-name" id="item-name" autocomplete="given-name" v-model="form.description" :disabled="sending"  md-counter="250"/>
                  <span class="md-error" v-if="!$v.form.description.required">The description is required</span>
                  <span class="md-error" v-else-if="!$v.form.description.maxLength">Too long</span>
                </md-field>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('oldPrice')">
                    <md-icon>euro</md-icon>
                    <label >Prix avant remise</label>
                    <md-input type='number' name="item-type" id="item-type" autocomplete="type-name" v-model="form.oldPrice" :disabled="sending" md-counter="20" />
                    <span class="md-error" v-if="!$v.form.oldPrice.required">The price is required</span>
                    <span class="md-error" v-else-if="!$v.form.oldPrice.maxLength">Too long</span>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('newPrice')">
                    <md-icon>euro</md-icon>
                    <label >Prix remisé</label>
                    <md-input type='number' name="item-link" id="item-link" autocomplete="family-name" v-model="form.newPrice" :disabled="sending" md-counter="20" />
                    <span class="md-error" v-if="!$v.form.newPrice.required">The price is required</span>
                    <span class="md-error" v-else-if="!$v.form.newPrice.minlength">Invalid link</span>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('shopName')">
                    <md-icon>business</md-icon>
                    <label >Enseigne</label>
                    <md-input name="item-link" id="item-link" autocomplete="family-name" v-model="form.shopName" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.shopName.required">The company is required</span>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('promoCode')">
                    <md-icon>local_offer</md-icon>
                    <label>Code promo</label>
                    <md-input name="item-link" id="item-link" autocomplete="family-name" v-model="form.promoCode" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.promoCode.required">The promo code is required</span>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('imgUrl')">
                    <md-icon>link</md-icon>
                    <label>Lien vers l'image</label>
                    <md-input name="item-link" id="item-link" autocomplete="family-name" v-model="form.imgUrl" :disabled="sending"/>
                    <span class="md-error" v-if="!$v.form.imgUrl.required">The link is required</span>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('shopLink')">
                    <md-icon>link</md-icon>
                    <label>Lien du deal</label>
                    <md-input name="item-link" id="item-link" autocomplete="family-name" v-model="form.shopLink" :disabled="sending"/>
                    <span class="md-error" v-if="!$v.form.shopLink.required">The link is required</span>
                  </md-field>
                </div>
              </div>
            </div>

          </md-card-content>

          <md-progress-bar md-mode="indeterminate" v-if="sending" />

          <md-card-actions>
            <md-button type="submit" class="md-primary" :disabled="sending">Create item</md-button>
          </md-card-actions>
        </md-card>

        <md-snackbar :md-active="dealSaved">The deal {{ lastDeal }} was saved with success!</md-snackbar>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { validationMixin } from 'vuelidate';
import {
  required,
  maxLength
} from 'vuelidate/lib/validators'
export default {
  name: "AddDealComponent",
  mixins: [validationMixin],
  data() {
    return {
      form: {
        title :null,
        description:null,
        oldPrice:null,
        newPrice:null,
        shopName:null,
        promoCode:null,
        imgUrl:null,
        shopLink:null,

      },
      dealSaved: false,
      sending: false,
      lastDeal:null
    };
  },
  validations: {
    form: {
      title: {
        required,
        maxLength: maxLength(150)
      },
      description: {
        required,
        maxLength:maxLength(250)
      },
      oldPrice: {
        required,
        maxLength: maxLength(10)
      },
      newPrice: {
        required,
        maxLength: maxLength(10)
      },
      shopName:{
        required
      },
      promoCode:{
        required
      },
      imgUrl:{
        required
      },
      shopLink:{
        required
      }
    }
  },
  methods: {
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]
      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    clearForm () {
      this.$v.$reset()
      this.lastDeal = this.form.title
      this.form.title=null
      this.form.description=null
      this.form.oldPrice=null
      this.form.newPrice=null
      this.form.shopName=null
      this.form.promoCode=null
      this.form.imgUrl=null
      this.form.shopLink=null
      window.setTimeout(() => {
        this.dealSaved = false

      }, 1500)

    },
    saveItem () {
      this.sending = true
      // Instead of this timeout, here you can call your API
      const data = {
        titre :this.form.title,
        description:this.form.description,
        oldPrice:this.form.oldPrice,
        newPrice:this.form.newPrice,
        shopName: this.form.shopName,
        promoCode:this.form.promoCode,
        imgUrl: this.form.imgUrl,
        shopLink: this.form.shopLink,

      };
      console.log(this.sending)
      window.setTimeout(() => {
        this.dealSaved = true
        this.sending = false
        this.clearForm()
      }, 1500)
      axios
        .post("http://localhost:8080/deals", data)
        .then((res) => {
          console.log(`Status: ${res.status}`);
          console.log("Body: ", res.data);
        })
        .catch((err) => {
          console.error(err);
        });
    },
    validateItem () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saveItem()
      }
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1 {
  margin-bottom: 25px;
  width: 500px;
}
.card-item{
  margin : 0 auto;
  position : center;
}
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
input[type="text"]{
  background-color: #ebeef2;
  padding-left: 5px;
}
input[type="number"]{
  background-color: #ebeef2;
  padding-left: 5px;
}
</style>
