<template>

  <div id="app">
    <div id="deals">
      <div id="dealsItemContainer" v-if="deal">
          <div class="card mb-3" style="max-width: 60%; margin:auto;" >
            <div class="row no-gutters">
              <div class="col-md-2">
                <img class="imgUrl" :src="deal.imgUrl" style='width: 100%;'>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 id="temperature" class="card-title ">{{deal.temperature}}</h5>
                  <p id="titre" class="card-text">{{ deal.titre }}</p>
                  <p id="auteur-shopname" class="card-text">{{ deal.auteur}} |  {{deal.shopName}}</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card-body">
                  <p id="date" class="card-text">{{ deal.date }}</p>
                  <p  class="card-text"><md-button  class="md-primary" :href="deal.shopLink" target="_blank" >Voir <md-icon style="color: white">local_offer</md-icon></md-button> </p>
                </div>
              </div>
              <div class="promo_code">{{ deal.promoCode }}</div>
              <div class="price">{{ deal.newPrice }}  | <span style='text-decoration:line-through; color: grey'>{{ deal.oldPrice }} </span>({{ (100- (100*deal.newPrice)/deal.oldPrice).toFixed(0) }}% remise)</div>
              <div class="description">{{deal.description}}</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "DetailComponent.vue",
    data(){
      return {
        deal : null
      }

    },
    methods:{
      getDeals(){
        axios
          .get('http://localhost:8080/public/deals/'+this.$route.params.id)
          .then(response => (this.deal = response.data))
      }
    },

    mounted () {
      this.getDeals();
    }

}
</script>

<style scoped>

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
html body{
  margin:0;
  height:100%;

}


.md-primary{
  text-decoration: none;
  background-color: black;
  color: white !important;
}

.md-primary:hover{
  background-color: grey;
}
.card-list .card{
  width:100%;
}

.card{
  border-radius: 10px !important;
  border : 2px solid grey !important;
  background-color: lightgrey !important;

}

.promo_code{
  margin-top: 2% !important;
  margin:auto;
  width:90% !important;
  text-align: center !important;
  border-radius: 10px !important;
  border : 2px solid black !important;
}
.price{
  margin-top: 2% !important;
  margin:auto;
  width:90% !important;
  text-align: center !important;
  border-radius: 10px !important;
  border : 2px solid black !important;
}

.description{
  margin-top: 2% !important;
  margin:auto;
  width:90% !important;
  border-radius: 10px !important;
  border : 2px solid black !important;
  margin-bottom: 5%;
}


</style>
