<template>
  <div class="header" id="test">
    <header>
      <router-link to="/" class="logo">Dealabs </router-link>
      <ul id="nav">
        <li v-if="$store.state.role!='member'" class="sign_in md-primary md-raised" @click="showInscriptionDialog = true">Inscription</li>
        <li v-if="$store.state.role!='member'" class="sign_in md-primary md-raised" @click="showConnectionDialog = true">Connexion</li>
        <li v-if="$store.state.role=='member'" class="sign_in md-primary md-raised" >Bonjour {{ $store.state.pseudo }} </li>
        <li class="sign_in md-primary md-raised" v-if="$store.state.role=='member'" @click="disconnect()">Se deconnecter</li>
        <li>
          <router-link  v-if="$store.state.role=='member'" to="/add">Ajouter</router-link>
        </li>
      </ul>
    </header>
    <md-dialog :md-click-outside-to-close="false" :md-active="showInscriptionDialog">
      <md-dialog-title>Inscription</md-dialog-title>
      <form novalidate class="md-layout" @submit.prevent="validateInscription">
        <md-card class="border md-layout-item md-size-100 md-small-size-100">
          <md-card-content>
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('inscriptionForm','userName')">
                  <md-icon>person</md-icon>
                  <label>Username</label>
                  <md-input
                    name="user-name"
                    id="user-name"
                    autocomplete="given-name"
                    v-model="inscriptionForm.userName"
                    :disabled="sending"
                  />
                  <span class="md-error" v-if="!$v.inscriptionForm.userName.required">The name is required</span>
                </md-field>
                <md-field :class="getValidationClass('inscriptionForm','password')">
                  <md-icon>lock</md-icon>
                  <label>Password</label>
                  <md-input
                    type="password"
                    name="pass-word"
                    id="pass-word"
                    autocomplete="family-name"
                    v-model="inscriptionForm.password"
                    :disabled="sending"
                  />
                  <span class="md-error" v-if="!$v.inscriptionForm.password.required">The password is required</span>
                </md-field>
                <md-field :class="getValidationClass('inscriptionForm','confirmPassword')">
                  <md-icon>lock</md-icon>
                  <label>Confirm password</label>
                  <md-input
                    type="password"
                    name="pass-word"
                    id="pass-word"
                    autocomplete="family-name"
                    v-model="inscriptionForm.confirmPassword"
                    :disabled="sending"
                  />
                  <span class="md-error" v-if="!$v.inscriptionForm.confirmPassword.required">The confirmation is required</span>
                  <span class="md-error" v-if="!$v.inscriptionForm.confirmPassword.sameAsPassword && $v.inscriptionForm.confirmPassword.required">The password are not the same</span>
                </md-field>
              </div>
            </div>
          </md-card-content>
          <md-progress-bar md-mode="indeterminate" v-if="sending" />
          <md-card-actions>
            <md-button class="md-primary" @click="showInscriptionDialog = false">Annuler</md-button>
            <md-button type="submit" class="md-primary" :disabled="sending">S'inscrire</md-button>
          </md-card-actions>
        </md-card>
      </form>

    </md-dialog>
    <md-dialog :md-click-outside-to-close="false" :md-active="showConnectionDialog">
      <md-dialog-title>Connexion</md-dialog-title>

      <form novalidate class="md-layout" @submit.prevent="validateConnection">
            <md-card class="border md-layout-item md-size-100 md-small-size-100">
              <md-card-content>
                <div class="md-layout md-gutter">
                  <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('connexionForm','userName')">
                      <md-icon>person</md-icon>
                      <label>Username</label>
                      <md-input
                        name="user-name"
                        id="user-name"
                        autocomplete="given-name"
                        v-model="connexionForm.userName"
                        :disabled="sending"
                      />
                      <span class="md-error" v-if="!$v.connexionForm.userName.required">The username is required</span>

                    </md-field>
                    <md-field :class="getValidationClass('connexionForm','password')">
                      <md-icon>lock</md-icon>
                      <label>password</label>
                      <md-input
                        type="password"
                        name="pass-word"
                        id="pass-word"
                        autocomplete="family-name"
                        v-model="connexionForm.password"
                        :disabled="sending"
                      />
                      <span class="md-error" v-if="!$v.connexionForm.password.required">The password is required</span>

                    </md-field>
                  </div>
                </div>
              </md-card-content>
              <md-progress-bar md-mode="indeterminate" v-if="sending" />
              <md-card-actions>
                <md-button class="md-primary" @click="showConnectionDialog = false">Annuler</md-button>
                <md-button type="submit" class="md-primary"  :disabled="sending">Se connecter</md-button>
              </md-card-actions>
            </md-card>
      </form>

    </md-dialog>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import {
  required,
  sameAs
} from 'vuelidate/lib/validators'
import axios from "axios";
export default {
  name: "HeaderComponent",
  mixins: [validationMixin],
  data() {
    return {
      inscriptionForm: {
        userName: null,
        password: null,
        confirmPassword: null,
      },
      connexionForm: {
        userName: null,
        password: null,
      },
      sending: false,
      showConnectionDialog: false,
      showInscriptionDialog: false
    };
  },
  validations:{
    inscriptionForm: {
      userName: {
        required
      },
      password: {
        required,
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs('password')
      },
    },
    connexionForm: {
      userName: {
        required,
      },
      password: {
        required,
      }
    }
  },
  methods: {
    disconnect(){
      console.log("deconnexion")
      this.$store.dispatch("toggle_disconnect")
      localStorage.removeItem('auth')
      this.$store.state.pseudo=null;
    },
    validateInscription () {
      this.$v.inscriptionForm.$touch()
      if (!this.$v.inscriptionForm.$invalid) {
        this.sending = true

        const UserDTO = {
          pseudo : this.inscriptionForm.userName ,
          firstName : 'Clement',
          lastName : 'Loyer',
          password : this.inscriptionForm.password
        }

        axios.post('http://localhost:8080/public/user',UserDTO).then(
          response => {
            console.log("inscription reussie " + response)

          }, error => {
            console.log("erreur lors de l'inscription " + error )
          }
        )
        window.setTimeout(() => {

          this.sending = false;
          this.showInscriptionDialog=false;
          this.inscriptionForm.confirmPassword=null;
          this.inscriptionForm.password=null;
          this.inscriptionForm.userName=null;
          this.$v.inscriptionForm.$reset()
        }, 2000)

      }
    },
    validateConnection () {
      this.$v.connexionForm.$touch()
      if (!this.$v.connexionForm.$invalid) {
        this.sending = true
        window.setTimeout(() => {

          const LoginRequestDTO = {
            'identifiant' : this.connexionForm.userName,
            'motDePasse' : this.connexionForm.password
          }

          axios.post('http://localhost:8080/public/bd/login',LoginRequestDTO).then(
            response => {
              this.$store.state.pseudo = LoginRequestDTO.identifiant;
              localStorage.setItem('auth',btoa(LoginRequestDTO.identifiant + ":" + LoginRequestDTO.motDePasse));
              console.log("Connexion reussie " + response)

              this.$store.dispatch("toggle_member")


            }, error => {
              console.log("erreur lors de la connexion " + error )
            }
          )

          this.sending = false
          this.showConnectionDialog=false;
          this.connexionForm.password=null;
          this.connexionForm.userName=null;
          this.$v.connexionForm.$reset()
        }, 2000)

      }
    },
    getValidationClass(fieldType,fieldName) {
      let field
      if(fieldType=="inscriptionForm") field = this.$v.inscriptionForm[fieldName]
      else field = this.$v.connexionForm[fieldName]
      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    }
  }
}
</script>

<style scoped>
header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  color:white;
  margin-bottom: 3%;

}
header ul {
  position: relative;
  display: flex;
  align-items: center;
}
header ul li {
  list-style: none;
  padding-right: 20px;
}
ul{
  margin-bottom: 0;
}
header ul li a {
  display: inline-block;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
a {
  display: inline-block;
  font-weight: 400;
  margin-left: 10%;
  text-decoration: none !important;
}
a {
  margin: 0;
  padding: 8px 12px;
  color:white !important;
}


@keyframes fadeTop{
  from {top: 30%;opacity: 0;}
  to {top: 50%;opacity: 1;}
}

.sign_in{
  background-color: black !important;
}
.sign_in:hover{
  cursor:pointer;
}

</style>

