/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
body{
    width:100%;
    background-image: url("../../frontend/Dealabs/src/assets/fond_ecran.jpg");
}
.navbar {
    transition: all 0.4s;
    background-color: black;
}

.navbar .nav-link {
    color: #bbb;
}
.card-list{
    padding-top: 10%;
    width:70%;
    margin: 0 auto;
    padding-top:0;
    margin-top: 10%;
    display:block;
    position: center;
}

.card-button{
    margin-bottom: 0;
    margin-top: 150%;
}
.card-list .card{
    width:100%;
}
.logo_deal{
    margin-left:2%;
    }
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #bbb;
    text-decoration: none;
}

.card{
    border-radius: 10px !important;
    border : 2px solid grey !important;
    background-color: lightgrey !important;
    cursor: pointer !important;

}
.navbar .navbar-brand {
    color: #bbb;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}