<template>
  <div id="app">
    <section>
      <div id="headComp">
        <HeaderComponent/>
      </div>
      <router-view/>
    </section>
  </div>
</template>

<script>
import HeaderComponent from './components/HeaderComponent.vue';

export default {
  name: 'App',
  components:{
    HeaderComponent
  }
}
</script>

<style>

body{
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("assets/fond_ecran.jpg");
}
</style>
